{
  "singleQuote": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": ["^@assignment/(.*)$", "^[./]"],
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
